docker-compose/node-red-data/flows.json
[
    {
        "id": "de3aa2238c88f5bb",
        "type": "tab",
        "label": "Dummy flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2597dbabc5284d9d",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3378cee521836ab",
        "type": "debug",
        "z": "de3aa2238c88f5bb",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "84d3949f584db1f0",
        "type": "inject",
        "z": "de3aa2238c88f5bb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "b0d3faaa39ab0fa0"
            ]
        ]
    },
    {
        "id": "b0d3faaa39ab0fa0",
        "type": "http request",
        "z": "de3aa2238c88f5bb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 240,
        "wires": [
            [
                "356eef28e92bb42f"
            ]
        ]
    },
    {
        "id": "356eef28e92bb42f",
        "type": "csv",
        "z": "de3aa2238c88f5bb",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 490,
        "y": 160,
        "wires": [
            [
                "c3378cee521836ab",
                "3bb12e4eb4e96b1e"
            ]
        ]
    },
    {
        "id": "3bb12e4eb4e96b1e",
        "type": "switch",
        "z": "de3aa2238c88f5bb",
        "name": "",
        "property": "msg.payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "48d1202fb4ef3562"
            ]
        ]
    },
    {
        "id": "48d1202fb4ef3562",
        "type": "change",
        "z": "de3aa2238c88f5bb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 400,
        "wires": [
            [
                "c68660dc2fd5fcf1"
            ]
        ]
    },
    {
        "id": "c68660dc2fd5fcf1",
        "type": "debug",
        "z": "de3aa2238c88f5bb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "fd127339d5a717f8",
        "type": "http in",
        "z": "2597dbabc5284d9d",
        "name": "test-minio",
        "url": "/test-minio",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 160,
        "wires": [
            [
                "16e5ad63b8b6f979",
                "26885c87c580983b"
            ]
        ]
    },
    {
        "id": "16e5ad63b8b6f979",
        "type": "debug",
        "z": "2597dbabc5284d9d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "26885c87c580983b",
        "type": "http response",
        "z": "2597dbabc5284d9d",
        "name": "response",
        "statusCode": "200",
        "headers": {},
        "x": 600,
        "y": 220,
        "wires": []
    }
]